.project-container img {
  width: 220px;
}
.project-title {
  text-align: start;
}
.project-container {
  margin-top: 6rem;
}
.project-text {
  text-align: left;
}
.project-text h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.project-text p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.btn-container {
  margin-top: 3rem;
  text-align: center;
}

.btn-container button {
  background-image: linear-gradient(
    144deg,
    #af40ff,
    rgb(91, 66, 243) 50%,
    #00ddeb
  );
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
  /* line-height: 1em; */
  max-width: 100%;
  min-width: 140px;
  padding: 10px 10px;
  text-decoration: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  cursor: pointer;
}
.btn-container button:active {
  transform: scale(1.1);
}
.btn-container a {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-title {
    margin-top: 50px;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 100px;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 16px;
    box-shadow: rgba(91, 66, 243, 0.09) 0px 2px 1px,
      rgba(91, 66, 243, 0.09) 0px 4px 2px, rgba(175, 64, 255, 0.09) 0px 8px 4px,
      rgba(175, 64, 255, 0.09) 0px 16px 8px,
      rgba(0, 221, 235, 0.09) 0px 32px 16px;
  }
  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8rem;
  }
  .project-text {
    text-align: center;
    width: 45%;
  }
  .project-text p {
    text-align: center;
  }
  .btn-container {
    width: 40%;
    align-self: flex-end;
  }
}
